.container {
	display: flex;
	align-items: center;
	width: 100%;
}

.enterDashboard {
	width: 80%;
	display: flex;
	justify-content: center;
}

.image, .enter {
	width: 49%;
}

.image img{
	width: 100%;
}

.enter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.enter h1 {
	font-size: 3.9rem;
	font-weight: 700;
}

.enter .btn {
	padding: 30px;
	border-radius: 30px;
	font-size: 3.9rem;
	border: none;
	margin-top: 5px;
	font-weight: 700;
	background-color: #407BFF;
	color: white;
}

.enter .btn:hover {
	background-color: #407BFF50;
	transition: 0.4s;
	cursor: pointer;
}
