.barTop {
	background-color: #222d32;
	width: 100%;
	grid-column: 2/4;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 20px;
}
.menu header {
	font-size: 2rem;
	font-weight: bold;
	color: white;
}

.hamburguerDesktop {
	width: 40px;
	height: 30px;
}
.hamburguerDesktop > div {
	background-color: white;
	height: 5px;
	width: 100%;
	margin-bottom: 6px;
	transition-duration: 0.3s;
}

.hamburguerMobile {
	display: none;
	width: 40px;
	height: 30px;
}
.hamburguerMobile > div {
	background-color: white;
	height: 5px;
	width: 100%;
	margin-bottom: 6px;
	transition-duration: 0.3s;
}

@media (max-width: 940px) {
	.barTop {
		grid-column: 1/4;
	}

	.hamburguerDesktop {
		display: none;
	}

	.hamburguerMobile {
		display: block;
	}
}
