.itemListSelected,
.itemList {
	padding: 10px;
	position: relative;
	display: flex;
	align-items: center;
	transition: 0.4s;
}
.itemListSelected {
	background-color: #1a2226;;
}
.itemListSelected img,
.itemList img {
	width: 24px;
	height: 20px;
}
.itemListSelected span,
.itemList span {
	font-weight: 300;
	font-size: 2rem;
	color: white;
	padding-left: 5px;
}
.itemListSelected::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 5px;
	background-color: #00C2FF;
}
.itemListSelected:hover,
.itemList:hover {
	cursor: pointer;
	background-color: #1a2226;
}
