.logoTop {
	padding: 10px;
	background-color:  #222d32;;
	text-align: center;
	grid-column: 1/2;
}

.logoTop img {
	max-width: 80px;
	max-height: 80px;
	width: 100%;
	height: 100%;
}

@media (max-width: 760px) {
	.logoTop {
		grid-column: 1/4;
	}
}
