.menu {
	background-color: #407BFF;
	grid-column: 1/2;
}

.menu > header {
	background-color: #1D3771;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	padding: 10px;
}

.list {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
}
