.menuInitial {
	background-color: #222d32;
	grid-column: 1/2;
}

.menuInitial > header,
.menuMobile > header {
	background-color: #1a2226;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	padding: 10px;
}

.list {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
}

.menuMobile {
	display: none;
}

@media (max-width: 760px) {
	.menuInitial {
		display: none;
	}
	.menuMobile {
		display: block;
		background-color: #407BFF;
		grid-column: 1/4;
	}
	.menuMobile .list {
		transition-duration: 0.5s;
	}
}
