.container {
	width: 20%;
	height: 100vh;
	background-image:linear-gradient(180deg, #628890 0%, rgba(98, 136, 144, 0) 100%);
	display: flex;
	align-items: center;
}

.container img {
	width: 90%;
	animation: toBottomLogo 0.3s 0.3s backwards;
}

@keyframes toBottomLogo {
  from {
    opacity: 0;
    transform: translateY(-50vh);
  }
  to {
    opacity: 1;
    transform: translateY(0vh);
  }
}
